@theme {
  /* Background Colors */
  --color-bg-surface: light-dark(#fff, #000);
  --color-bg-disabled: light-dark(var(--color-neutral-200), var(--color-neutral-800));
  --color-bg-transparent: transparent;
  --color-bg-divider: light-dark(var(--color-neutral-400), var(--color-neutral-600));
  --color-bg-modal: light-dark(#fff, var(--color-neutral-900));

  /* neutral colors */
  --color-bg-default: light-dark(var(--color-neutral-100), var(--color-neutral-900));
  --color-bg-hovered: light-dark(var(--color-neutral-200), var(--color-neutral-800));
  --color-bg-pressed: light-dark(var(--color-neutral-300), var(--color-neutral-700));
  --color-bg-focused: light-dark(var(--color-neutral-100), var(--color-neutral-900));
  --color-bg-loading: light-dark(var(--color-neutral-300), var(--color-neutral-700));

  --color-bg-default-invert: light-dark(var(--color-neutral-700), var(--color-neutral-300));
  --color-bg-hovered-invert: light-dark(var(--color-neutral-800), var(--color-neutral-200));
  --color-bg-pressed-invert: light-dark(var(--color-neutral-900), var(--color-neutral-100));
  --color-bg-focused-invert: light-dark(var(--color-neutral-700), var(--color-neutral-300));
  --color-bg-loading-invert: light-dark(var(--color-neutral-900), var(--color-neutral-100));

  /* primary colors */
  --color-bg-primary-default: light-dark(var(--color-primary-500), var(--color-primary-300));
  --color-bg-primary-hovered: light-dark(var(--color-primary-800), var(--color-primary-200));
  --color-bg-primary-pressed: light-dark(var(--color-primary-900), var(--color-primary-100));
  --color-bg-primary-focused: light-dark(var(--color-primary-700), var(--color-primary-300));
  --color-bg-primary-loading: light-dark(var(--color-primary-900), var(--color-primary-100));

  --color-bg-primary-default-invert: light-dark(var(--color-primary-100), var(--color-primary-900));
  --color-bg-primary-hovered-invert: light-dark(var(--color-primary-200), var(--color-primary-800));
  --color-bg-primary-pressed-invert: light-dark(var(--color-primary-300), var(--color-primary-700));
  --color-bg-primary-focused-invert: light-dark(var(--color-primary-100), var(--color-primary-900));
  --color-bg-primary-loading-invert: light-dark(var(--color-primary-300), var(--color-primary-700));

  /* info colors */
  --color-bg-info-default: light-dark(var(--color-info-700), var(--color-info-300));
  --color-bg-info-hovered: light-dark(var(--color-info-800), var(--color-info-200));
  --color-bg-info-pressed: light-dark(var(--color-info-900), var(--color-info-100));
  --color-bg-info-focused: light-dark(var(--color-info-700), var(--color-info-300));
  --color-bg-info-loading: light-dark(var(--color-info-900), var(--color-info-100));

  --color-bg-info-default-invert: light-dark(var(--color-info-100), var(--color-info-900));
  --color-bg-info-hovered-invert: light-dark(var(--color-info-200), var(--color-info-800));
  --color-bg-info-pressed-invert: light-dark(var(--color-info-300), var(--color-info-700));
  --color-bg-info-focused-invert: light-dark(var(--color-info-100), var(--color-info-900));
  --color-bg-info-loading-invert: light-dark(var(--color-info-300), var(--color-info-700));

  /* success colors */
  --color-bg-success-default: light-dark(var(--color-success-700), var(--color-success-300));
  --color-bg-success-hovered: light-dark(var(--color-success-800), var(--color-success-200));
  --color-bg-success-pressed: light-dark(var(--color-success-900), var(--color-success-100));
  --color-bg-success-focused: light-dark(var(--color-success-700), var(--color-success-300));
  --color-bg-success-loading: light-dark(var(--color-success-900), var(--color-success-100));

  --color-bg-success-default-invert: light-dark(var(--color-success-100), var(--color-success-900));
  --color-bg-success-hovered-invert: light-dark(var(--color-success-200), var(--color-success-800));
  --color-bg-success-pressed-invert: light-dark(var(--color-success-300), var(--color-success-700));
  --color-bg-success-focused-invert: light-dark(var(--color-success-100), var(--color-success-900));
  --color-bg-success-loading-invert: light-dark(var(--color-success-300), var(--color-success-700));

  /* warning colors */
  --color-bg-warning-default: light-dark(var(--color-warning-700), var(--color-warning-300));
  --color-bg-warning-hovered: light-dark(var(--color-warning-800), var(--color-warning-200));
  --color-bg-warning-pressed: light-dark(var(--color-warning-900), var(--color-warning-100));
  --color-bg-warning-focused: light-dark(var(--color-warning-700), var(--color-warning-300));
  --color-bg-warning-loading: light-dark(var(--color-warning-900), var(--color-warning-100));

  --color-bg-warning-default-invert: light-dark(var(--color-warning-100), var(--color-warning-900));
  --color-bg-warning-hovered-invert: light-dark(var(--color-warning-200), var(--color-warning-800));
  --color-bg-warning-pressed-invert: light-dark(var(--color-warning-300), var(--color-warning-700));
  --color-bg-warning-focused-invert: light-dark(var(--color-warning-100), var(--color-warning-900));
  --color-bg-warning-loading-invert: light-dark(var(--color-warning-300), var(--color-warning-700));

  /* danger colors */
  --color-bg-danger-default: light-dark(var(--color-danger-700), var(--color-danger-300));
  --color-bg-danger-hovered: light-dark(var(--color-danger-800), var(--color-danger-200));
  --color-bg-danger-pressed: light-dark(var(--color-danger-900), var(--color-danger-100));
  --color-bg-danger-focused: light-dark(var(--color-danger-700), var(--color-danger-300));
  --color-bg-danger-loading: light-dark(var(--color-danger-900), var(--color-danger-100));

  --color-bg-danger-default-invert: light-dark(var(--color-danger-100), var(--color-danger-900));
  --color-bg-danger-hovered-invert: light-dark(var(--color-danger-200), var(--color-danger-800));
  --color-bg-danger-pressed-invert: light-dark(var(--color-danger-300), var(--color-danger-700));
  --color-bg-danger-focused-invert: light-dark(var(--color-danger-100), var(--color-danger-900));
  --color-bg-danger-loading-invert: light-dark(var(--color-danger-300), var(--color-danger-700));

  /* ------------------------------------------------------------ */
  /* Text colors */
  --color-text-base: light-dark(#fff, var(--color-neutral-950));
  --color-text-base-invert: light-dark(var(--color-neutral-950), #fff);

  --color-text-default: light-dark(var(--color-neutral-950), #fff);
  --color-text-default-invert: light-dark(#fff, var(--color-neutral-950));

  --color-text-primary: light-dark(var(--color-primary-500), var(--color-primary-300));
  --color-text-primary-invert: light-dark(var(--color-primary-100), var(--color-primary-900));

  --color-text-info: light-dark(var(--color-info-700), var(--color-info-300));
  --color-text-info-invert: light-dark(var(--color-info-100), var(--color-info-900));

  --color-text-success: light-dark(var(--color-success-700), var(--color-success-300));
  --color-text-success-invert: light-dark(var(--color-success-100), var(--color-success-900));

  --color-text-warning: light-dark(var(--color-warning-700), var(--color-warning-300));
  --color-text-warning-invert: light-dark(var(--color-warning-100), var(--color-warning-900));

  --color-text-danger: light-dark(var(--color-danger-700), var(--color-danger-300));
  --color-text-danger-invert: light-dark(var(--color-danger-100), var(--color-danger-900));

  --color-text-placeholder: light-dark(var(--color-neutral-500), var(--color-neutral-500));
  --color-text-placeholder-invert: light-dark(var(--color-neutral-500), var(--color-neutral-500));

  --color-text-caption: light-dark(var(--color-neutral-600), var(--color-neutral-400));
  --color-text-caption-invert: light-dark(var(--color-neutral-100), var(--color-neutral-900));

  --color-text-link: light-dark(var(--color-blue-700), var(--color-blue-300));
  --color-text-link-invert: light-dark(var(--color-blue-100), var(--color-blue-900));

  --color-text-visited: light-dark(var(--color-purple-700), var(--color-purple-300));
  --color-text-visited-invert: light-dark(var(--color-purple-100), var(--color-purple-900));

  --color-text-loading: light-dark(var(--color-neutral-700), var(--color-neutral-300));
  --color-text-loading-invert: light-dark(var(--color-neutral-100), var(--color-neutral-900));

  --color-text-disabled: light-dark(var(--color-neutral-400), var(--color-neutral-600));

  /* ------------------------------------------------------------ */
  /* Border Colors */
  --color-border-base: light-dark(var(--color-gray-200), var(--color-gray-950));
  --color-border-default: light-dark(var(--color-neutral-300), var(--color-neutral-600));
  --color-border-primary: light-dark(var(--color-primary-500), var(--color-primary-300));
  --color-border-info: light-dark(var(--color-info-500), var(--color-info-300));
  --color-border-success: light-dark(var(--color-success-500), var(--color-success-300));
  --color-border-warning: light-dark(var(--color-warning-500), var(--color-warning-300));
  --color-border-danger: light-dark(var(--color-danger-500), var(--color-danger-300));
  --color-border-ring: light-dark(var(--color-blue-500), var(--color-blue-700));
  --color-border-disabled: light-dark(var(--color-neutral-200), var(--color-neutral-700));
}
